In [6]:
#%d-interger formatting
print("My lucky number is %d")
print("My lucky number is %d"%12)
print("My lucky number is %d"%(12))#if we have one value use ()
print("My lucky number is %d"%12.344)

My lucky number is %d
My lucky number is 12
My lucky number is 12
My lucky number is 12

In [16]:
# %s-string formatting
print("My lucky number is %s")
print("My lucky number is %s"%True)
print("My lucky number is %s"%None)
print("My lucky number is %s"%12)
print("My lucky number is %s"%12.3456)
print("My lucky number is %s"%'python')

My lucky number is %s
My lucky number is True
My lucky number is None
My lucky number is 12
My lucky number is 12.3456
My lucky number is python

In [20]:
#%f-float formatting
print("My lucky number is %f")
print("My lucky number is %f"%12.34)
print("My lucky number is %f"%False)
print("My lucky number is %f"%12)

My lucky number is %f
My lucky number is 12.340000
My lucky number is 0.000000
My lucky number is 12.000000

In [ ]:
#repr()-%r-Works same as %s for all datatypes expect string beacuse it
#stores charcters in "" saying string types.
print("My lucky number is %r")
pr4int("My lucky number is %r"%True)
print("My lucky number is %r"%None)
print("My lucky number is %r"%12)
print("My lucky number is %r"%12.3456)
print("My lucky number is %r"%'python')

My lucky number is %r
My lucky number is True
My lucky number is None
My lucky number is 12
My lucky number is 12.3456
My lucky number is 'python'

In [2]:
print("%o"%34,oct(34))
print("%x"%34,hex(34))
print("%X"%34,hex(34))

42 0o42
22 0x22
22 0x22

In [ ]:
#%c-used to store only one charcter
print("%c"%'1')
#print("%c"%'12') give error

1

In [7]:
#%g
print("%g"%12.34)
print("%G"%12.34222)

12.34
12.3422

In [9]:
#Expotential form - %e,%e
print("%e"%12.34)
print("%e"%12.3422576)

1.234000e+01
1.234226e+01

In [ ]:
import math
print(math.pi)
print("%d"%math.pi)
print("%f"%math.pi)
print("%9f"%math.pi)#one extra space and 8 space are reserved with digits
print("%9.3f"%math.pi)#reserver 9 space digir and 3 digit round off after post decimal

3.141592653589793
3
3.141593
 3.141593
    3.142

In [ ]:
print("My lucky number is %d only."%12)
print("pi value is %f!!!!!!!!!!"%3.1416)
print("pi value is %10f!!!!!!!!!!"%3.1416)#10 spaces are reserved
print("pi value is %10.3f!!!!!!!!!!"%3.1416)#10 spaces are reserved post decimal round off 3 digits
print("pi value is %010.3f!!!!!!!!!!"%3.1416)#10 spaces are resverd denoted by 0

My lucky number is 12 only.
pi value is 3.141600!!!!!!!!!!
pi value is   3.141600!!!!!!!!!!
pi value is      3.142!!!!!!!!!!
pi value is 000003.142!!!!!!!!!!

In [31]:
print("My nam is %s and %d old, paying a tax of %f. "%('Sanjay',24,12.05))

My nam is Sanjay and 24 old, paying a tax of 12.050000.

In [40]:
print("My nam is %s and %s old, paying a tax of %s. "%('Sanjay','24','12.05'))
print("My nam is %s and %s old, paying a tax of %s. "%('Sanjay',24,12.05))
print("My nam is %r and %r old, paying a tax of %r. "%('Sanjay','24','12.05'))
print("My nam is %r and %r old, paying a tax of %r. "%('Sanjay','24',12.05))

My nam is Sanjay and 24 old, paying a tax of 12.05.
My nam is Sanjay and 24 old, paying a tax of 12.05.
My nam is 'Sanjay' and '24' old, paying a tax of '12.05'.
My nam is 'Sanjay' and '24' old, paying a tax of 12.05.

In [ ]:
#Limitation of old style string formatting
#1.Same data types need to be passed
#2.Those many number of times,those many values need to be passed
#3.