ITERABLES
- Iterables means an object for which the FOR loop can apply.
- iterable objects- list,str,dict,set,iterator,generator,range()
- non-iterable objects - int, float,None,True,False.

In [4]:
# for digit in 1234:
#     print(digit)
#int is non-iterable

for digit in '1234':
    print(digit)

1
2
3
4

In [7]:
#string_iterables
for ch in 'python programming':
    print(ch,end=' ')

p y t h o n   p r o g r a m m i n g

In [4]:
print("\n Collections-Iterables-list")
names = ['Sanjay','Sanju','Atikam']
for each_name in names:
    print("\t",each_name)

 Collections-Iterables-list
	 Sanjay
	 Sanju
	 Atikam

In [5]:
print("\n Collections-Iterables-tuple")
names = ('Sanjay','Sanju','Atikam')
for each_name in names:
    print("\t",each_name)

 Collections-Iterables-tuple
	 Sanjay
	 Sanju
	 Atikam

In [7]:
print("\n Collections-Iterables-list")
names = {'Sanjay','Sanju','Atikam'}
for each_name in names:
    print("\t",each_name)

 Collections-Iterables-list
	 Sanju
	 Atikam
	 Sanjay

In [8]:
print("\n Collections-Iterables-list")
names = {"Name":"Sanjay",'Weight':'185','Height':'5ft'}
for each_name in names:
    print("\t",each_name)

 Collections-Iterables-list
	 Name
	 Weight
	 Height

In [9]:
for each_name in names.keys():
    print("\t",each_name)

	 Name
	 Weight
	 Height

In [10]:
for each_name in names.values():
    print("\t",each_name)

	 Sanjay
	 185
	 5ft

In [11]:
for each_name in names.items():
    print("\t",each_name)

	 ('Name', 'Sanjay')
	 ('Weight', '185')
	 ('Height', '5ft')

In [14]:
for each_val,each_key in names.items():
    print("\t",each_key,"====>",each_val)

	 Sanjay ====> Name
	 185 ====> Weight
	 5ft ====> Height

In [24]:
#using Enumerate
val = [1,2,3,4,5]
for each in val:
    print(each,end=' ')

for index,each in enumerate(val):
        print(each)

1 2 3 4 5 1
2
3
4
5

In [27]:
for index,each in enumerate(names):
 print(each)

Name
Weight
Height

In [31]:
for index,val in enumerate(val):
 print(each)

5
5
5
5
5

In [38]:
for index, key in enumerate(names):
    print(index,key)

0 Name
1 Weight
2 Height

In [2]:
names = {"Name":"Sanjay",'Weight':'185','Height':'5ft'}

In [34]:
for index,values in enumerate(names):
    print(index,values)

0 Name
1 Weight
2 Height

In [41]:
for index,keys in enumerate(names.items()):
    print(index,keys)

0 ('Name', 'Sanjay')
1 ('Weight', '185')
2 ('Height', '5ft')

In [3]:
for index, (key,value) in enumerate(names.items()):# unpackinng..
    print(index,key,value)

0 Name Sanjay
1 Weight 185
2 Height 5ft

In [ ]:
# for enumerate we can't give floating point values.

##ALL() and ANY()

In [5]:
#all()--True if bool(all each_elemen) is TRUE
my_list =[1,2,3,4,78,0]
all(my_list)
#False beacuse in my list there is 0 values which is bool type value is 
#'False' so one is false entire my list is false.

False

In [7]:
#any()--True if bool(only one each_element) is TRUE
my_list =[1,2,3,4,78,0]
any(my_list)
#True beacuse in my list there is 0 values which is only 1.
#if there 1 zero values in list then entire kist is TRUE.

True

In [4]:
# All expects every values should be TRUE- then it gives TRUE or False.
# ANY expects if one value is TRUE - TRUE or it gives False
print(all([1,2,0,4]))
print(any([0,0,0,1]))

False
True

##Sorting()

In [10]:
numbers = [10,200,31,400,]
print(f"sorted(numbers)={sorted(numbers)}")
print(f"{numbers}")
#sorted will arranges items in ascending order and creates new object
# and existing object is not modified.

sorted(numbers)=[10, 31, 200, 400]
[10, 200, 31, 400]

In [15]:
numbers = [10,200,31,400,]
numbers.sort()
print(numbers)
# sort updates the original object

[10, 31, 200, 400]

In [17]:
print(f"sorted(numbers)={sorted(numbers)}")
print(f"sorted(numbers)={sorted(numbers,reverse=True)}")
# reverse the sorted numbers

sorted(numbers)=[10, 31, 200, 400]
sorted(numbers)=[400, 200, 31, 10]

In [19]:
numbers.sort(reverse=True)
numbers.sort()
print(numbers)

[10, 31, 200, 400]

In [24]:
word = 'az AZ 10'
print(f"{word=}")
print(f"{list(word)=}")
print(f"{sorted(word)=}")
print(f"{sorted(word,key=str.lower)=}")

word='az AZ 10'
list(word)=['a', 'z', ' ', 'A', 'Z', ' ', '1', '0']
sorted(word)=[' ', ' ', '0', '1', 'A', 'Z', 'a', 'z']
sorted(word,key=str.lower)=[' ', ' ', '0', '1', 'a', 'A', 'z', 'Z']

In [31]:
list_of_str="Apple is a Fruit".split()
print(f"{list_of_str    =}")
print(f"{sorted(list_of_str )   =}")
print(f"{sorted(list_of_str,key=str.lower )   =}")

list_of_str    =['Apple', 'is', 'a', 'Fruit']
sorted(list_of_str )   =['Apple', 'Fruit', 'a', 'is']
sorted(list_of_str,key=str.lower )   =['a', 'Apple', 'Fruit', 'is']

In [37]:
my_dict = {'1':'A','3':'Z','2':'F'}
print(f"{sorted(my_dict)    =}")
print(f"{sorted(my_dict.keys())   =}")
print(f"{sorted(my_dict.values())   =}")

sorted(my_dict)    =['1', '2', '3']
sorted(my_dict.keys())   =['1', '2', '3']
sorted(my_dict.values())   =['A', 'F', 'Z']

In [38]:
print(f"{sorted(my_dict.items())   =}")
print(f"{sorted(my_dict.items(),key=lambda x:x[0])   =}")#sorting by keys
print(f"{sorted(my_dict.items(),key=lambda x:x[1])   =}")#sorting by values
# print(f"{sorted(my_dict.items(),key=lambda x:(x[0],x[1]),reverse=True)

sorted(my_dict.items())   =[('1', 'A'), ('2', 'F'), ('3', 'Z')]
sorted(my_dict.items(),key=lambda x:x[0])   =[('1', 'A'), ('2', 'F'), ('3', 'Z')]
sorted(my_dict.items(),key=lambda x:x[1])   =[('1', 'A'), ('2', 'F'), ('3', 'Z')]