In [25]:
import datetime

In [26]:
print(dir(datetime))

['MAXYEAR', 'MINYEAR', 'UTC', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'date', 'datetime', 'datetime_CAPI', 'time', 'timedelta', 'timezone', 'tzinfo']

In [27]:
print('Datetime.MaxYear:',datetime.MAXYEAR)
print('Datetime.MinYear:',datetime.MINYEAR)

Datetime.MaxYear: 9999
Datetime.MinYear: 1

In [28]:
print(f"{datetime.datetime.min  =}")
print(f"{datetime.datetime.max  =}")
print(f"{datetime.datetime.resolution  =}")
# resoultion means the minimum value that can measure

datetime.datetime.min  =datetime.datetime(1, 1, 1, 0, 0)
datetime.datetime.max  =datetime.datetime(9999, 12, 31, 23, 59, 59, 999999)
datetime.datetime.resolution  =datetime.timedelta(microseconds=1)

In [29]:
print(f"{datetime.date.min  =}")
print(f"{datetime.date.max  =}")
print(f"{datetime.date.resolution  =}")

datetime.date.min  =datetime.date(1, 1, 1)
datetime.date.max  =datetime.date(9999, 12, 31)
datetime.date.resolution  =datetime.timedelta(days=1)

In [30]:
print(f"{datetime.time.min  =}")
print(f"{datetime.time.max  =}")
print(f"{datetime.time.resolution  =}")

datetime.time.min  =datetime.time(0, 0)
datetime.time.max  =datetime.time(23, 59, 59, 999999)
datetime.time.resolution  =datetime.timedelta(microseconds=1)

In [31]:
print('datetime.tzinfo',datetime.tzinfo)
# returns time zone info

datetime.tzinfo <class 'datetime.tzinfo'>

In [32]:
datetime.tzinfo()

"""
Date time has three diffrerent types of object  
data objects    -   stores the data
time objects    -   stores the time
datetime objects - stores both date and time

In [33]:
now = datetime.datetime.now()
print(now)
print(type(now))

# now returns current time locally

2025-01-11 04:05:20.304369
<class 'datetime.datetime'>

In [34]:
today = now.date()
print('today',today)
print(type(today))
# returns only date from now

today 2025-01-11
<class 'datetime.date'>

In [35]:
moment = now.time()
print('moment',moment)
print(type(moment))
# returns only time from now

moment 04:05:20.304369
<class 'datetime.time'>

In [36]:
now_using_combine = datetime.datetime.combine(today,moment)
print('now_using_combine',now_using_combine)
print(type(now_using_combine))

now_using_combine 2025-01-11 04:05:20.304369
<class 'datetime.datetime'>

In [37]:
yesterday = today - datetime.timedelta(days=1)
print("yesterday",yesterday)
print(type(yesterday))

yesterday 2025-01-10
<class 'datetime.date'>

In [38]:
# Getting difference between two datetime objects
time_difference = yesterday-today
print(time_difference)
print(type(time_difference))

-1 day, 0:00:00
<class 'datetime.timedelta'>

In [39]:
my_date = datetime.date(2000,11,7)# Y,M,D order
print(my_date)
print(type(my_date))
# creating date
print('other way of displaying own date')
my_date = datetime.date(year=2000,month=11,day=7)

2000-11-07
<class 'datetime.date'>
other way of displaying own date

In [40]:

my_date = datetime.date(year=2000,month=11,day=7)
print(my_date)

2000-11-07

In [41]:
# Creattin time
my_time = datetime.time()
print(my_time)
print(type(my_time))

00:00:00
<class 'datetime.time'>

In [42]:
# Creattin time-Explicitly
my_time = datetime.time(1,3,56)#h,m,s
print(my_time)
print(type(my_time))

01:03:56
<class 'datetime.time'>

In [43]:
# datetime object has same arguments as date object
my_datetime = datetime.datetime(year=1947,month=8,day=15)#Time is set to 0:0
print(my_datetime)
print(type(my_datetime))

1947-08-15 00:00:00
<class 'datetime.datetime'>

In [44]:
my_datetime = datetime.datetime(year=1947,month=8,day=15,hour=8,minute=35,second=34)
print(my_datetime)
print(type(my_datetime))

1947-08-15 08:35:34
<class 'datetime.datetime'>

In [45]:
my_datetime = datetime.datetime(1947,8,15,8,35)
print(my_datetime)
print(type(my_datetime))

1947-08-15 08:35:00
<class 'datetime.datetime'>

In [46]:
# Changing one datetime object by another datetime object by replace method
another_datetime = my_datetime.replace(year=1957,month=1)
print(another_datetime)
print(type(another_datetime))

1957-01-15 08:35:00
<class 'datetime.datetime'>

In [47]:
# obtaining epoch time
epoch = datetime.datetime.utcfromtimestamp(0)
print(epoch)
print(type(epoch))

1970-01-01 00:00:00
<class 'datetime.datetime'>

/tmp/ipykernel_34318/2658845220.py:2: DeprecationWarning: datetime.datetime.utcfromtimestamp() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.fromtimestamp(timestamp, datetime.UTC).
  epoch = datetime.datetime.utcfromtimestamp(0)

In [48]:
#Difference between epoch and now
delta = now - epoch
print(delta)

20099 days, 4:05:20.304369

In [49]:
local_now=datetime.datetime.now()
print(local_now)
print(type(local_now))

2025-01-11 04:05:20.430591
<class 'datetime.datetime'>

In [50]:
local_now.strftime('%y%m%d-%H:%M:%S')

'250111-04:05:20'

In [51]:
local_now.strftime('%y/%m/%d-%H:%M:%S')

'25/01/11-04:05:20'

In [55]:
local_now.strftime('%y-%m-%d %H:%M:%S')

'25-01-11 04:05:20'

In [57]:
local_now.strftime('%y %B %d %H:%M:%S')

'25 January 11 04:05:20'

In [58]:
local_now.strftime('%y %b %d %H:%M:%S')

'25 Jan 11 04:05:20'

In [59]:
local_now.strftime('%y %b %d - %I:%H:%M:%S %p')
#I is 12 hr format
#p is am or pm

'25 Jan 11 - 04:04:05:20 AM'

In [61]:
local_now.strftime('%y %b %d - %I:%H:%M:%S %p %z')
#I is 12 hr format
#p is am or pm 
# z is time zone

'25 Jan 11 - 04:04:05:20 AM '

## date.time.strptime - converting date.time string to date.time object

In [72]:
my_dt = datetime.datetime.strptime("2007-11-07 17:00:00","%Y-%m-%d %H:%M:%S")
print(f"my_dt :{my_dt}\ntype(my_dt) :{type(my_dt)}")

my_dt :2007-11-07 17:00:00
type(my_dt) :<class 'datetime.datetime'>

## timedelta()- adding time for existing time

In [79]:
local_now+datetime.timedelta(days=3,minutes=36)

datetime.datetime(2025, 1, 14, 4, 41, 20, 430591)

In [87]:
tomorrow = local_now+datetime.timedelta(days=3)
print(tomorrow)
print(type(tomorrow))

2025-01-14 04:05:20.430591
<class 'datetime.datetime'>

# Problem: For a given date , tell the week of day

In [108]:
DAYS = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']
def get_week_of_day(given_date,date_frmt):
    date_obj = datetime.datetime.strptime(given_date,date_frmt)
    #print(date_obj)
    wd = datetime.date.weekday(date_obj)
    return(f"week of day for{given_date} is {DAYS[wd]}")

In [101]:
get_week_of_day("12-7-2023","%d-%m-%Y")

'week of day for12-7-2023isWednesday'

In [113]:
get_week_of_day('2000/11/07','%Y/%m/%d')

'week of day for2000/11/07 is Tuesday'

In [116]:
get_week_of_day('5:august:1947','%d:%B:%Y')

'week of day for5:august:1947 is Tuesday'