In [43]:
#%d-interger formatting
print("My lucky number is %d")
print("My lucky number is %d"%12)
print("My lucky number is %d"%(12))#if we have one value use ()
print("My lucky number is %d"%12.344)

My lucky number is %d
My lucky number is 12
My lucky number is 12
My lucky number is 12

In [44]:
# %s-string formatting
print("My lucky number is %s")
print("My lucky number is %s"%True)
print("My lucky number is %s"%None)
print("My lucky number is %s"%12)
print("My lucky number is %s"%12.3456)
print("My lucky number is %s"%'python')

My lucky number is %s
My lucky number is True
My lucky number is None
My lucky number is 12
My lucky number is 12.3456
My lucky number is python

In [45]:
#%f-float formatting
print("My lucky number is %f")
print("My lucky number is %f"%12.34)
print("My lucky number is %f"%False)
print("My lucky number is %f"%12)

My lucky number is %f
My lucky number is 12.340000
My lucky number is 0.000000
My lucky number is 12.000000

In [1]:
#repr()-%r-Works same as %s for all datatypes expect string beacuse it
#stores charcters in "" saying string types.
print("My lucky number is %r")
print("My lucky number is %r"%True)
print("My lucky number is %r"%None)
print("My lucky number is %r"%12)
print("My lucky number is %r"%12.3456)
print("My lucky number is %r"%'python')

My lucky number is %r
My lucky number is True
My lucky number is None
My lucky number is 12
My lucky number is 12.3456
My lucky number is 'python'

In [ ]:
print("%o"%34,oct(34))
print("%x"%34,hex(34))
print("%X"%34,hex(34))

42 0o42
22 0x22
22 0x22

In [ ]:
#%c-used to store only one charcter
print("%c"%'1')
#print("%c"%'12') give error

1

In [ ]:
#%g
print("%g"%12.34)
print("%G"%12.34222)

12.34
12.3422

In [ ]:
#Expotential form - %e,%e
print("%e"%12.34)
print("%e"%12.3422576)

1.234000e+01
1.234226e+01

In [ ]:
import math
print(math.pi)
print("%d"%math.pi)
print("%f"%math.pi)
print("%9f"%math.pi)#one extra space and 8 space are reserved with digits
print("%9.3f"%math.pi)#reserver 9 space digir and 3 digit round off after post decimal

3.141592653589793
3
3.141593
 3.141593
    3.142

In [ ]:
print("My lucky number is %d only."%12)
print("pi value is %f!!!!!!!!!!"%3.1416)
print("pi value is %10f!!!!!!!!!!"%3.1416)#10 spaces are reserved
print("pi value is %10.3f!!!!!!!!!!"%3.1416)#10 spaces are reserved post decimal round off 3 digits
print("pi value is %010.3f!!!!!!!!!!"%3.1416)#10 spaces are resverd denoted by 0

My lucky number is 12 only.
pi value is 3.141600!!!!!!!!!!
pi value is   3.141600!!!!!!!!!!
pi value is      3.142!!!!!!!!!!
pi value is 000003.142!!!!!!!!!!

In [ ]:
print("My nam is %s and %d old, paying a tax of %f. "%('Sanjay',24,12.05))

My nam is Sanjay and 24 old, paying a tax of 12.050000.

In [ ]:
print("My nam is %s and %s old, paying a tax of %s. "%('Sanjay','24','12.05'))
print("My nam is %s and %s old, paying a tax of %s. "%('Sanjay',24,12.05))
print("My nam is %r and %r old, paying a tax of %r. "%('Sanjay','24','12.05'))
print("My nam is %r and %r old, paying a tax of %r. "%('Sanjay','24',12.05))

My nam is Sanjay and 24 old, paying a tax of 12.05.
My nam is Sanjay and 24 old, paying a tax of 12.05.
My nam is 'Sanjay' and '24' old, paying a tax of '12.05'.
My nam is 'Sanjay' and '24' old, paying a tax of 12.05.

In [ ]:
#Limitation of old style string formatting
#1.Same data types need to be passed
#2.Those many number of times,those many values need to be passed
#3.

## New Style String Formatting

In [ ]:
#.format{}
print("{}".format('Udhay'))
print("{{}}".format('Udhay'))# even number braces it gives {}
print("{{{}}}".format('Udhay'))#odd number braces it gives value.
print("{{{{}}}}".format('Udhay'))

Udhay
{}
{Udhay}
{{}}

In [ ]:
print("{} and {}".format("cat","Mouse"))
print("{0} and {1}".format("cat","Mouse"))
print("{1} and {0}".format("cat","Mouse"))

cat and Mouse
cat and Mouse
Mouse and cat

In [ ]:
#similar to zfill
print("{:=10}".format(12348))
print("{:0=10}".format(12348))
print("{:a=10}".format(12348))

     12348
0000012348
aaaaa12348

In [ ]:
#Allignment
print("{:<20}".format("left alligned"))
print("{:>20}".format("right alligned"))
print("{:^20}".format("centered"))
#with fill charcter
print("{:-^20}".format("centered"))

left alligned
      right alligned
      centered
------centered------

In [ ]:
#formating
print("{}".format(1024),2048)
print("{:b}".format(1024),bin(2048))
print("{:x}".format(1024),hex(2048))
print("{:o}".format(1024),oct(2048))

1024 2048
10000000000 0b100000000000
400 0x800
2000 0o4000

In [3]:

import math
print("{}",math.pi)
print("{}".format(math.pi))

print("{:f}".format(math.pi))
print("{:g}".format(math.pi))
print("{:9f}".format(math.pi))
print("{:9.3f}".format(math.pi))
print("{:09.3f}".format(math.pi))

{} 3.141592653589793
3.141592653589793
3.141593
3.14159
 3.141593
    3.142
00003.142

In [12]:
#Assignmment- How to take floating point value and display in new style formatting as integer in the  string 
#print("{:f}".format(123.909))
print("{:f}".format(int(123.909)))

123.000000

In [ ]:
#to multiply number 100 and show and show result in %
print("{:%}".format(math.pi))
print("{:}%".format(math.pi))
print("{:%}".format(234))# treated as % formatting charcter
print("{:}%".format(234))#treated as % ordinary charcter

314.159265%
3.141592653589793%
23400.000000%
234%

In [47]:
print(""" Dear {Customer},
           Your account ending {account_number}  was balance 
           of {Balance_amount}.
      """.format(
               Customer="Sanjay",
               account_number ="12345",
               Balance_amount ="50,000"
           ))

 Dear Sanjay,
           Your account ending 12345  was balance
           of 50,000.

##FStrings

In [57]:
value = 123.4578
print(f"{value}")
print(f"{value:}")
print(f"{value:,}")
print(f"{value:_}")
print(f"{value:+}")
print(f"{value:=}")

123.4578
123.4578
123.4578
123.4578
+123.4578
123.4578

In [58]:
print(f"{'left allligned':<20}")
print(f"{'right allligned':>20}")
print(f"{'centered':^20}")

left allligned
     right allligned
      centered

In [ ]:
print(f"{1024})