### DICT
Represented by using {}, dict()
Dictionaries are mutable objects we can access and change them.

In [4]:
empty_dict={}
print(f"{type(empty_dict)}")

emptydict = dict()
print(f"{type(emptydict)}")

emptydict =()
print(f"{type(emptydict)}")

<class 'dict'>
<class 'dict'>
<class 'tuple'>

In [12]:
dic_with_singlepair = {'a':1}
print(f"{dic_with_singlepair},{type(dic_with_singlepair)}")

dict_with_othervalues = {'a':1,'b':2,'c':3}
print(f"{dict_with_othervalues=},{type(dict_with_othervalues)}")

{'a': 1},<class 'dict'>
dict_with_othervalues={'a': 1, 'b': 2, 'c': 3},<class 'dict'>

In [21]:
person_details={
    'Name':'Sanjay Atikam',
    'Age' : 24,
    'Parents':('Mahender','Sushma'),
    'Siblings':('Anirudh'),
    'Salary'   : 1000,

}

In [22]:
person_details

{'Name': 'Sanjay Atikam',
 'Age': 24,
 'Parents': ('Mahender', 'Sushma'),
 'Siblings': 'Anirudh',
 'Salary': 1000}

In [31]:
person_details.keys()

dict_keys(['Name', 'Age', 'Parents', 'Siblings', 'Salary'])

In [28]:
print(person_details)

{'Name': 'Sanjay Atikam', 'Age': 24, 'Parents': ('Mahender', 'Sushma'), 'Siblings': 'Anirudh', 'Salary': 1000}

In [29]:
person_details.items()#both keys and values in tuples.

dict_items([('Name', 'Sanjay Atikam'), ('Age', 24), ('Parents', ('Mahender', 'Sushma')), ('Siblings', 'Anirudh'), ('Salary', 1000)])

##Dictionary Operations

In [32]:
employee_name = {
    'Name' : 'sikhar Dhawan',
    'Status': 'Retired',
    'Salary': 22_456,
    'Strike Rate':90/100
}

In [33]:
employee_name

{'Name': 'sikhar Dhawan',
 'Status': 'Retired',
 'Salary': 22456,
 'Strike Rate': 0.9}

In [34]:
#Dict are mutubale
print(f"{id(employee_name)}")

# updating the values for existing one 
employee_name['Status'] = ['Taken Back Retirement']
print(employee_name['Status'])

print(f"After change:{id(employee_name)}")

123269526665024
['Taken Back Retirement']
After change:123269526665024

In [35]:
employee_name

{'Name': 'sikhar Dhawan',
 'Status': ['Taken Back Retirement'],
 'Salary': 22456,
 'Strike Rate': 0.9}

In [37]:
# To add a new key
employee_name['number of Centuries'] = 100
print(employee_name)
employee_name

{'Name': 'sikhar Dhawan', 'Status': ['Taken Back Retirement'], 'Salary': 22456, 'Strike Rate': 0.9, 'number of Centuries': 100}

{'Name': 'sikhar Dhawan',
 'Status': ['Taken Back Retirement'],
 'Salary': 22456,
 'Strike Rate': 0.9,
 'number of Centuries': 100}

In [45]:
#Difference ways of indexing,accessing
# employee_name['Status']
print(employee_name.get('Status'))
print(employee_name.get('Name'))
#dict.get() returns NONE if no value is present like,
print(employee_name.get('Sixes'))

['Taken Back Retirement']
sikhar Dhawan
None

In [53]:
employee_name.setdefault('Fours')
print(f"{employee_name.setdefault('Fours')  = }")
employee_name
#ste default will take something which is not present.
# We cannot set the setdefault for existing values.
print(f"{employee_name.setdefault('ICC TITLES', 2)=}")
employee_name

employee_name.setdefault('Fours')  = None
employee_name.setdefault('ICC TITLES', 2)=2

{'Name': 'sikhar Dhawan',
 'Status': ['Taken Back Retirement'],
 'Salary': 22456,
 'Strike Rate': 0.9,
 'number of Centuries': 100,
 'Fours': None,
 'ICC TITLES': 2}

In [54]:
language = dict()

In [57]:
language['name']='Python'
language['Level']=5
language

{'name': 'Python', 'Level': 5}

In [70]:
Python_dic = {
    'Name'  : "Sam",
    'Version': '3.3.4',
    'Dev_version':'3.9',
    
}

{'Name': 'Sam', 'Version': '3.3.4', 'Dev_version': '3.9'}

In [71]:
Python_dic

{'Name': 'Sam', 'Version': '3.3.4', 'Dev_version': '3.9'}

In [77]:
##Dictonary Concatenation 
#Update Python_dic with update the values in lNaguage with having same keys in 
#both dictonaries.
language.update(Python_dic)
print(f"{language=}")
print(f"{Python_dic=}")

language={'name': 'Python', 'Level': 5, 'Name': 'Sam', 'Version': '3.3.4', 'Dev_version': '3.9'}
Python_dic={'Name': 'Sam', 'Version': '3.3.4', 'Dev_version': '3.9'}