### DICT
Represented by using {}, dict()
Dictionaries are mutable objects we can access and change them.

In [4]:
empty_dict={}
print(f"{type(empty_dict)}")

emptydict = dict()
print(f"{type(emptydict)}")

emptydict =()
print(f"{type(emptydict)}")

<class 'dict'>
<class 'dict'>
<class 'tuple'>

In [12]:
dic_with_singlepair = {'a':1}
print(f"{dic_with_singlepair},{type(dic_with_singlepair)}")

dict_with_othervalues = {'a':1,'b':2,'c':3}
print(f"{dict_with_othervalues=},{type(dict_with_othervalues)}")

{'a': 1},<class 'dict'>
dict_with_othervalues={'a': 1, 'b': 2, 'c': 3},<class 'dict'>

In [21]:
person_details={
    'Name':'Sanjay Atikam',
    'Age' : 24,
    'Parents':('Mahender','Sushma'),
    'Siblings':('Anirudh'),
    'Salary'   : 1000,

}

In [22]:
person_details

{'Name': 'Sanjay Atikam',
 'Age': 24,
 'Parents': ('Mahender', 'Sushma'),
 'Siblings': 'Anirudh',
 'Salary': 1000}

In [31]:
person_details.keys()

dict_keys(['Name', 'Age', 'Parents', 'Siblings', 'Salary'])

In [28]:
print(person_details)

{'Name': 'Sanjay Atikam', 'Age': 24, 'Parents': ('Mahender', 'Sushma'), 'Siblings': 'Anirudh', 'Salary': 1000}

In [29]:
person_details.items()#both keys and values in tuples.

dict_items([('Name', 'Sanjay Atikam'), ('Age', 24), ('Parents', ('Mahender', 'Sushma')), ('Siblings', 'Anirudh'), ('Salary', 1000)])

##Dictionary Operations

In [32]:
employee_name = {
    'Name' : 'sikhar Dhawan',
    'Status': 'Retired',
    'Salary': 22_456,
    'Strike Rate':90/100
}

In [33]:
employee_name

{'Name': 'sikhar Dhawan',
 'Status': 'Retired',
 'Salary': 22456,
 'Strike Rate': 0.9}

In [34]:
#Dict are mutubale
print(f"{id(employee_name)}")

# updating the values for existing one 
employee_name['Status'] = ['Taken Back Retirement']
print(employee_name['Status'])

print(f"After change:{id(employee_name)}")

123269526665024
['Taken Back Retirement']
After change:123269526665024

In [35]:
employee_name

{'Name': 'sikhar Dhawan',
 'Status': ['Taken Back Retirement'],
 'Salary': 22456,
 'Strike Rate': 0.9}

In [37]:
# To add a new key
employee_name['number of Centuries'] = 100
print(employee_name)
employee_name

{'Name': 'sikhar Dhawan', 'Status': ['Taken Back Retirement'], 'Salary': 22456, 'Strike Rate': 0.9, 'number of Centuries': 100}

{'Name': 'sikhar Dhawan',
 'Status': ['Taken Back Retirement'],
 'Salary': 22456,
 'Strike Rate': 0.9,
 'number of Centuries': 100}

In [45]:
#Difference ways of indexing,accessing
# employee_name['Status']
print(employee_name.get('Status'))
print(employee_name.get('Name'))
#dict.get() returns NONE if no value is present like,
print(employee_name.get('Sixes'))

['Taken Back Retirement']
sikhar Dhawan
None

In [53]:
employee_name.setdefault('Fours')
print(f"{employee_name.setdefault('Fours')  = }")
employee_name
#ste default will take something which is not present.
# We cannot set the setdefault for existing values.
print(f"{employee_name.setdefault('ICC TITLES', 2)=}")
employee_name

employee_name.setdefault('Fours')  = None
employee_name.setdefault('ICC TITLES', 2)=2

{'Name': 'sikhar Dhawan',
 'Status': ['Taken Back Retirement'],
 'Salary': 22456,
 'Strike Rate': 0.9,
 'number of Centuries': 100,
 'Fours': None,
 'ICC TITLES': 2}

In [54]:
language = dict()

In [57]:
language['name']='Python'
language['Level']=5
language

{'name': 'Python', 'Level': 5}

In [70]:
Python_dic = {
    'Name'  : "Sam",
    'Version': '3.3.4',
    'Dev_version':'3.9',
    
}

{'Name': 'Sam', 'Version': '3.3.4', 'Dev_version': '3.9'}

In [71]:
Python_dic

{'Name': 'Sam', 'Version': '3.3.4', 'Dev_version': '3.9'}

In [77]:
##Dictonary Concatenation 
#Update Python_dic with update the values in lNaguage with having same keys in 
#both dictonaries.
language.update(Python_dic)
print(f"{language=}")
print(f"{Python_dic=}")

language={'name': 'Python', 'Level': 5, 'Name': 'Sam', 'Version': '3.3.4', 'Dev_version': '3.9'}
Python_dic={'Name': 'Sam', 'Version': '3.3.4', 'Dev_version': '3.9'}

In [ ]:
# for deleting Key-Value pairs
#print("f{python_dic.pop() =}") At least one argument can be given.

In [4]:
Python_dic = {
    'Name'  : "Sam",
    'Version': '3.3.4',
    'Dev_version':'3.9',
    
}
# print(f"{Python_dic.pop('maintainer')   =}")
# print(Python_dic) This gives an error 
print(f"{Python_dic.pop('maintainer',None)=}")
print(f"{Python_dic.pop('maintainer','No Such Key')=}")

Python_dic.pop('maintainer',None)=None
Python_dic.pop('maintainer','No Such Key')='No Such Key'

In [16]:
#last key-value pair will be detelted
print(f"{Python_dic.popitem()   =}")
print(f"{Python_dic.popitem()   =}")
# remove the last key value pair and returns the remianing pair in Dict.

KeyError: 'popitem(): dictionary is empty'

In [ ]:
#ASSIGNMENT del dic['key] = dict.pop('key')

## Merging Two dictionaries

In [17]:
a = {'one':1}
b = {'one':2,'two': 2}

In [22]:
#Dic unpacking
c ={**a}
c

{'one': 1, 'two': 2}

In [24]:
c ={**a,**b}
c

{'one': 2, 'two': 2}

In [23]:
c={**b,**a}
c

{'one': 1, 'two': 2}

In [25]:
a = {'one':1}
b = {'one':2,'two': 2}
print(f"{a =}")
print(f"{b =}")

a|=b
print(f"{a=}") 
print(f"{b=}")

a ={'one': 1}
b ={'one': 2, 'two': 2}
a={'one': 2, 'two': 2}
b={'one': 2, 'two': 2}

##DIct replicas

In [26]:
animal = {'name' : 'Zebra' ,'continent':('Africa','Asia')}
print(animal)

{'name': 'Zebra', 'continent': ('Africa', 'Asia')}

In [29]:
#replicas - To get keys of existing dict to new dict
animal_schema = {}#default value is none
animal_schema = animal_schema.fromkeys(animal)
print(animal_schema)


animal_schema = animal_schema.fromkeys(animal,'None')
print(animal_schema)

animal_schema = animal_schema.fromkeys(animal,'')
print(animal_schema)

{'name': None, 'continent': None}
{'name': 'None', 'continent': 'None'}
{'name': '', 'continent': ''}

In [30]:
#To flush the content in dict
print(f"{id(animal)=}")
animal.clear() # will flush key-value pair in dict
print(f"After clear {animal = }")
print(f"{id(animal)=}")

id(animal)=137950811085120
After clear animal = {}
id(animal)=137950811085120

##Zip() Function

In [32]:
#different ways of creating dic
a = {'one':1,'two':2,'three':3}
b = dict(one=1,two = 2, three = 3)

c = dict([('one',1),('two' , 2), ('three' , 3)])
d = dict({'one':1,'two':2,'three':3})

assert a == b == c ==d

In [38]:
#creating dict from pairs
a = [(1,'red'),(2,'two'),(3,'three')]
print(dict(a))
b = [('red',1),('blue',2),('yellow',3)]
print(dict(b))
b = (('red',1),('blue',2),('yellow',3))
print(c)
print(dict(c))

{1: 'red', 2: 'two', 3: 'three'}
{'red': 1, 'blue': 2, 'yellow': 3}
{'one': 1, 'two': 2, 'three': 3}
{'one': 1, 'two': 2, 'three': 3}

In [43]:
a = (['red',(1,'b')],['Sanjay',(3,'N')],('yellow',(5,'five')))
print(dict(a))

{'red': (1, 'b'), 'Sanjay': (3, 'N'), 'yellow': (5, 'five')}

## Craeting a Dict with Two iterabels.

In [44]:
cities = ('New Delhi',"Goa","punjab",'Kashmit')
countries = ['INDIA','USA',"CANADA","UK"]
zip(cities,countries)

In [47]:
cities_n_countries = dict(zip(cities,countries))
print(cities_n_countries)

countries_n_cities = dict(zip(countries,cities))
print(countries_n_cities)

{'New Delhi': 'INDIA', 'Goa': 'USA', 'punjab': 'CANADA', 'Kashmit': 'UK'}
{'INDIA': 'New Delhi', 'USA': 'Goa', 'CANADA': 'punjab', 'UK': 'Kashmit'}

In [49]:
print(dict(zip('Python',range(6))))
print(dict(zip('Sanjay','goud')))

{'P': 0, 'y': 1, 't': 2, 'h': 3, 'o': 4, 'n': 5}
{'S': 'g', 'a': 'o', 'n': 'u', 'j': 'd'}

In [ ]:
##ASSIGNMENT