##TUPLES

In [1]:
#NOTE:
# for tuples with single element place comma, at the end.
# to recoginzie as a tuple else recoginzes as a single element.

In [2]:
tup = (99.)
print(type(tup))
tup = (99,)
print(type(tup))
tup=()
print(type(tup))
tup = 1,2,3
print(type(tup))
tup = 1,
print(type(tup))

<class 'float'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [3]:
### Attributes 
my_tup = (12,5,6,8,(5,))
print(dir(my_tup))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [4]:
print(f"{my_tup = }  :{len(my_tup)}")
print(f"{my_tup =}    :{my_tup.__len__()}")
assert  len(my_tup) == my_tup.__len__()

my_tup = (12, 5, 6, 8, (5,))  :5
my_tup =(12, 5, 6, 8, (5,))    :5

In [5]:

print(my_tup*3)
print(my_tup.__mul__(3))
assert my_tup*3 == my_tup.__mul__(3)

(12, 5, 6, 8, (5,), 12, 5, 6, 8, (5,), 12, 5, 6, 8, (5,))
(12, 5, 6, 8, (5,), 12, 5, 6, 8, (5,), 12, 5, 6, 8, (5,))

In [6]:
print(my_tup)
print(my_tup.count(5))

my_tup = [12,5,6,8,(5)]#beacuse in this comma is not there so it is treated as integer
print(my_tup.count(5))

(12, 5, 6, 8, (5,))
1
2

In [7]:
print(my_tup.index(5))
print(my_tup.index(8))

1
3

In [8]:
# tuple concatenation

result = (99,) + (9,99)
print(result)

print()


result =  ((9,99,) + (9,),)
print(result)

(99, 9, 99)

((9, 99, 9),)

In [9]:
#Tuple repetition
print(f"{(1) * 3 =}")
print(f"{(1,2) * 3 =}")
print(f"{(1,2,3) * 3 =}")

(1) * 3 =3
(1,2) * 3 =(1, 2, 1, 2, 1, 2)
(1,2,3) * 3 =(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [10]:
##ASSIGNMENT

##MUTABILITY

In [11]:
mytuple = (1,2,3)
print(f"{mytuple},{id(mytuple)}")

(1, 2, 3),134715798353280

In [12]:
#Indexing
print(f"{mytuple[2]}")

3

In [13]:
# updating an element i tuple
try:
     mytuple[2]='four'
except TypeError as ex:
 print(ex)
 print("Tuple objects are immutable")

'tuple' object does not support item assignment
Tuple objects are immutable

In [14]:
#Overwrittinng
mytuple = (1,2,144)
print(f"{mytuple},{id(mytuple)}")

(1, 2, 144),134715787995392

##Named Tuples-This are also tuples but they can be accesed in different way
like indexing
like by keyname
using getatrr()

In [15]:
import collections
print(dir(collections))

['ChainMap', 'Counter', 'OrderedDict', 'UserDict', 'UserList', 'UserString', '_Link', '_OrderedDictItemsView', '_OrderedDictKeysView', '_OrderedDictValuesView', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '_chain', '_collections_abc', '_count_elements', '_deque_iterator', '_eq', '_iskeyword', '_itemgetter', '_proxy', '_recursive_repr', '_repeat', '_starmap', '_sys', '_tuplegetter', 'abc', 'defaultdict', 'deque', 'namedtuple']

In [16]:
#STEP 1: Created a named Tuple object
students = collections.namedtuple("students",('name','age','dob'))
students

__main__.students

In [17]:
students('Arjun',25,'25/03/1992')

students(name='Arjun', age=25, dob='25/03/1992')

In [18]:
student_details =students('Arjun',25,'25/03/1992')

In [19]:
print(student_details)
type(student_details)

students(name='Arjun', age=25, dob='25/03/1992')

__main__.students

In [20]:
#Acessing by Index
print(f"{student_details[0]}")
print(f"{student_details[1]}")
print(f"{student_details[2]}")

#Acessing by using position names
print()
print(f"{student_details.name}")
print(f"{student_details.age}")
print(f"{student_details.dob}")

Arjun
25
25/03/1992

Arjun
25
25/03/1992

In [21]:
print(f"{getattr(student_details,'name')}")
print(f"{getattr(student_details,'age')}")
print(f"{getattr(student_details,'dob')}")
print()
print(f"{student_details[0]}")
print(f"{student_details[1]}")
print(f"{student_details[2]}")
print()

assert  getattr(student_details,'name') == student_details[0]
assert  getattr(student_details,'age')  == student_details[1]
assert  getattr(student_details,'dob')  == student_details[2]

Arjun
25
25/03/1992

Arjun
25
25/03/1992

## Unpacking
This works only when it has equal number of varaibales and values on both sides.

In [25]:

num1 , num2 = 34,45
print(f"num1 = {num1}, num2 ={num2}")

num1 = 34, num2 =45

In [26]:
p1,p2,p3,p4,p5,p6,p7,p8 = 0,1,2,3,4,5,6,7
print(f"p1 = {p1},p2 ={p2},p3 ={p3},p4 ={p4},p5={p5},p6={p6},p7={p7},p8={p8}")

p1 = 0,p2 =1,p3 =2,p4 =3,p5=4,p6=5,p7=6,p8=7

In [30]:
#flexible unpacking
n1,*n2 = 1,2,3,4
print(f"n1={n1},n2={n2}")

n1,*n2,n3 = 1,2,3,4,57,98
print(f"n1={n1},\nn2={n2}, n3 = {n3}")

n1=1,n2=[2, 3, 4]
n1=1,
n2=[2, 3, 4, 57], n3 = 98