In [2]:
import calendar

In [3]:
print(dir(calendar))

['APRIL', 'AUGUST', 'Calendar', 'DECEMBER', 'Day', 'EPOCH', 'FEBRUARY', 'FRIDAY', 'HTMLCalendar', 'IllegalMonthError', 'IllegalWeekdayError', 'IntEnum', 'JANUARY', 'JULY', 'JUNE', 'LocaleHTMLCalendar', 'LocaleTextCalendar', 'MARCH', 'MAY', 'MONDAY', 'Month', 'NOVEMBER', 'OCTOBER', 'SATURDAY', 'SEPTEMBER', 'SUNDAY', 'THURSDAY', 'TUESDAY', 'TextCalendar', 'WEDNESDAY', '_EPOCH_ORD', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__getattr__', '__loader__', '__name__', '__package__', '__spec__', '_colwidth', '_get_default_locale', '_locale', '_localized_day', '_localized_month', '_monthlen', '_nextmonth', '_prevmonth', '_spacing', 'c', 'calendar', 'datetime', 'day_abbr', 'day_name', 'different_locale', 'error', 'firstweekday', 'format', 'formatstring', 'global_enum', 'isleap', 'leapdays', 'main', 'mdays', 'month', 'month_abbr', 'month_name', 'monthcalendar', 'monthrange', 'prcal', 'prmonth', 'prweek', 'repeat', 'setfirstweekday', 'sys', 'timegm', 'warnings', 'week', 'weekday', 'weekheader']

In [4]:
print(calendar.__doc__)

Calendar printing functions

Note when comparing these calendars to the ones printed by cal(1): By
default, these calendars have Monday as the first day of the week, and
Sunday as the last (the European convention). Use setfirstweekday() to
set the first day of the week (0=Monday, 6=Sunday).

In [5]:
print(
    f""" 
{calendar.EPOCH     =}
{calendar._EPOCH_ORD=}
{calendar.MONDAY    =}
{calendar.TUESDAY   =}
{calendar.WEDNESDAY =}
{calendar.THURSDAY  =}
{calendar.FRIDAY    =}
{calendar.SATURDAY  =}
{calendar.SUNDAY    =}
{calendar.mdays     =}
      """
)

calendar.EPOCH     =1970
calendar._EPOCH_ORD=719163
calendar.MONDAY    =calendar.MONDAY
calendar.TUESDAY   =calendar.TUESDAY
calendar.WEDNESDAY =calendar.WEDNESDAY
calendar.THURSDAY  =calendar.THURSDAY
calendar.FRIDAY    =calendar.FRIDAY
calendar.SATURDAY  =calendar.SATURDAY
calendar.SUNDAY    =calendar.SUNDAY
calendar.mdays     =[0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

# Problem: For a given date, tell the week of the day

In [6]:
import calendar

def get_week_of_day():
    given_input =input('Enter the date in "MM DD YY" format:')
    month,day,year = map(int,given_input.split(" "))
    
    weeks = (
        "MONDAY",
        "TUESDAY",
        "WEDNESDAY",
        "FRIDAY",
        "SATURDAY",
        "SUNDAY",
    )
    week_no =calendar.weekday(year,month,day)
    week_name = weeks[week_no]
    return f"day of week for{given_input} is {week_name}"

In [8]:
get_week_of_day()

'day of week for12 07 2000 is FRIDAY'

In [9]:
calendar.month(1947,8)

'    August 1947\nMo Tu We Th Fr Sa Su\n             1  2  3\n 4  5  6  7  8  9 10\n11 12 13 14 15 16 17\n18 19 20 21 22 23 24\n25 26 27 28 29 30 31\n'

In [10]:
print(calendar.month(1947,8))

    August 1947
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

In [14]:
print(calendar.monthrange(1947, 8))
# month range gives number of weeks in month

(calendar.FRIDAY, 31)

In [13]:
calendar.monthrange(2001,10)

(calendar.MONDAY, 31)

In [16]:
print(calendar.month(2001,10))## 4

    October 2001
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

# Display Calender

In [25]:
print(calendar.calendar(1947,2,1,10))

                                      1947

      January                       February                       March
Mo Tu We Th Fr Sa Su          Mo Tu We Th Fr Sa Su          Mo Tu We Th Fr Sa Su
       1  2  3  4  5                          1  2                          1  2
 6  7  8  9 10 11 12           3  4  5  6  7  8  9           3  4  5  6  7  8  9
13 14 15 16 17 18 19          10 11 12 13 14 15 16          10 11 12 13 14 15 16
20 21 22 23 24 25 26          17 18 19 20 21 22 23          17 18 19 20 21 22 23
27 28 29 30 31                24 25 26 27 28                24 25 26 27 28 29 30
                                                            31

       April                          May                           June
Mo Tu We Th Fr Sa Su          Mo Tu We Th Fr Sa Su          Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                    1  2  3  4                             1
 7  8  9 10 11 12 13           5  6  7  8  9 10 11           2  3  4  5  6  7  8
14 15 16 17 18 19 20          12 13 14 15 16 17 18           9 10 11 12 13 14 15
21 22 23 24 25 26 27          19 20 21 22 23 24 25          16 17 18 19 20 21 22
28 29 30                      26 27 28 29 30 31             23 24 25 26 27 28 29
                                                            30

        July                         August                      September
Mo Tu We Th Fr Sa Su          Mo Tu We Th Fr Sa Su          Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                       1  2  3           1  2  3  4  5  6  7
 7  8  9 10 11 12 13           4  5  6  7  8  9 10           8  9 10 11 12 13 14
14 15 16 17 18 19 20          11 12 13 14 15 16 17          15 16 17 18 19 20 21
21 22 23 24 25 26 27          18 19 20 21 22 23 24          22 23 24 25 26 27 28
28 29 30 31                   25 26 27 28 29 30 31          29 30

      October                       November                      December
Mo Tu We Th Fr Sa Su          Mo Tu We Th Fr Sa Su          Mo Tu We Th Fr Sa Su
       1  2  3  4  5                          1  2           1  2  3  4  5  6  7
 6  7  8  9 10 11 12           3  4  5  6  7  8  9           8  9 10 11 12 13 14
13 14 15 16 17 18 19          10 11 12 13 14 15 16          15 16 17 18 19 20 21
20 21 22 23 24 25 26          17 18 19 20 21 22 23          22 23 24 25 26 27 28
27 28 29 30 31                24 25 26 27 28 29 30          29 30 31

In [27]:
calendar.firstweekday()

0

In [30]:
calendar.setfirstweekday(2)

In [31]:
calendar.firstweekday()

2

In [32]:
print(calendar.calendar(1947,2,1,10))

                                      1947

      January                       February                       March
We Th Fr Sa Su Mo Tu          We Th Fr Sa Su Mo Tu          We Th Fr Sa Su Mo Tu
 1  2  3  4  5  6  7                    1  2  3  4                    1  2  3  4
 8  9 10 11 12 13 14           5  6  7  8  9 10 11           5  6  7  8  9 10 11
15 16 17 18 19 20 21          12 13 14 15 16 17 18          12 13 14 15 16 17 18
22 23 24 25 26 27 28          19 20 21 22 23 24 25          19 20 21 22 23 24 25
29 30 31                      26 27 28                      26 27 28 29 30 31

       April                          May                           June
We Th Fr Sa Su Mo Tu          We Th Fr Sa Su Mo Tu          We Th Fr Sa Su Mo Tu
                   1              1  2  3  4  5  6                       1  2  3
 2  3  4  5  6  7  8           7  8  9 10 11 12 13           4  5  6  7  8  9 10
 9 10 11 12 13 14 15          14 15 16 17 18 19 20          11 12 13 14 15 16 17
16 17 18 19 20 21 22          21 22 23 24 25 26 27          18 19 20 21 22 23 24
23 24 25 26 27 28 29          28 29 30 31                   25 26 27 28 29 30
30

        July                         August                      September
We Th Fr Sa Su Mo Tu          We Th Fr Sa Su Mo Tu          We Th Fr Sa Su Mo Tu
                   1                 1  2  3  4  5                          1  2
 2  3  4  5  6  7  8           6  7  8  9 10 11 12           3  4  5  6  7  8  9
 9 10 11 12 13 14 15          13 14 15 16 17 18 19          10 11 12 13 14 15 16
16 17 18 19 20 21 22          20 21 22 23 24 25 26          17 18 19 20 21 22 23
23 24 25 26 27 28 29          27 28 29 30 31                24 25 26 27 28 29 30
30 31

      October                       November                      December
We Th Fr Sa Su Mo Tu          We Th Fr Sa Su Mo Tu          We Th Fr Sa Su Mo Tu
 1  2  3  4  5  6  7                    1  2  3  4                          1  2
 8  9 10 11 12 13 14           5  6  7  8  9 10 11           3  4  5  6  7  8  9
15 16 17 18 19 20 21          12 13 14 15 16 17 18          10 11 12 13 14 15 16
22 23 24 25 26 27 28          19 20 21 22 23 24 25          17 18 19 20 21 22 23
29 30 31                      26 27 28 29 30                24 25 26 27 28 29 30
                                                            31

In [38]:
calendar.isleap(2021)
#isleadp returns whether given year is leap o5 not

False

In [39]:
# leap days - Gives how many are leap years btwn the mentioned two yeard
calendar.leapdays(2000,2024)

6